Repository wearepal/EthicML, pull requests merged in 2022-08, with the labels that each got.

#736 Enable run_metrics() to compute min and max in addition to diff and ratio
  docs/ethicml/evaluate.rst
  docs/ethicml/evaluate_models.rst
  docs/ethicml/utility.rst
  ethicml/__init__.py
  ethicml/data/tabular_data/adult.py
  ethicml/data/tabular_data/toy.py
  ethicml/evaluators/evaluate.py
  ethicml/evaluators/parallelism.py
  ethicml/implementations/hgr_modules/facl/facl_hgr.py
  ethicml/implementations/hgr_modules/facl_hgr.py
  ethicml/metrics/metric.py
  ethicml/metrics/per_sensitive_attribute.py
  ethicml/models/inprocess/agarwal_reductions.py
  ethicml/models/inprocess/fairness_wo_demographics.py
  ethicml/models/inprocess/in_algorithm.py
  ethicml/models/inprocess/zafar.py
  ethicml/models/preprocess/beutel.py
  ethicml/models/preprocess/vfae.py
  ethicml/models/preprocess/zemel.py
  ethicml/preprocessing/scaling.py
  ethicml/utility/data_structures.py
  tests/data/loading_data_test.py
  tests/metrics/nonparamaterized_metric_test.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
  tests/saving_data_test.py
Labels: breaking

#740 Update dependabot.yml
  .github/dependabot.yml
Labels: code-change

#743 Fix two long-standing problems
  ethicml/data/tabular_data/acs.py
  ethicml/implementations/adv_debiasing_method.py
  ethicml/implementations/adv_debiasing_modules/model.py
  ethicml/implementations/fair_dummies_modules/model.py
  ethicml/implementations/fair_dummies_romano.py
  ethicml/implementations/hgr_method.py
  ethicml/implementations/hgr_modules/hgr_impl.py
  ethicml/implementations/pytorch_common.py
  ethicml/metrics/dependence_measures.py
  ethicml/models/inprocess/adv_debiasing.py
  ethicml/models/inprocess/agarwal_reductions.py
  ethicml/models/inprocess/fair_dummies.py
  ethicml/models/inprocess/hgr.py
  ethicml/models/inprocess/in_subprocess.py
  ethicml/models/preprocess/beutel.py
  ethicml/models/preprocess/upsampler.py
  ethicml/models/preprocess/vfae.py
  ethicml/utility/data_structures.py
  poetry.lock
  pyproject.toml
  tests/models_test/inprocess_test/models_inprocessing_test.py
Labels: code-change

#747 Use tilde for long reference
  ethicml/utility/data_structures.py
Labels: code-change, documentation

#748 tqdm is not actually a dependency of EthicML
  poetry.lock
  pyproject.toml
Labels: code-change

#752 Use sets of enums instead of flags for metrics aggregation
  docs/conf.py
  docs/ethicml/utility.rst
  ethicml/evaluators/evaluate.py
  ethicml/metrics/per_sensitive_attribute.py
  ethicml/utility/data_structures.py
  tests/metrics/nonparamaterized_metric_test.py
  tests/metrics/per_sens_test.py
Labels: enhancement
