Repository wearepal/EthicML, pull requests merged in 2022-05, with the labels that each got.

#610 More OmegaConf tests
  ethicml/algorithms/inprocess/svm.py
  tests/data_omegaconf_test.py
  tests/models_test/inprocess_test/omegaconf_test.py
  tests/models_test/preprocess_test/omegaconf_test.py
Labels: next

#612 Pass seed to run
  ethicml/__init__.py
  ethicml/algorithms/algorithm_base.py
  ethicml/algorithms/inprocess/agarwal_reductions.py
  ethicml/algorithms/inprocess/blind.py
  ethicml/algorithms/inprocess/fairness_wo_demographics.py
  ethicml/algorithms/inprocess/in_algorithm.py
  ethicml/algorithms/inprocess/in_subprocess.py
  ethicml/algorithms/inprocess/installed_model.py
  ethicml/algorithms/inprocess/kamiran.py
  ethicml/algorithms/inprocess/kamishima.py
  ethicml/algorithms/inprocess/logistic_regression.py
  ethicml/algorithms/inprocess/majority.py
  ethicml/algorithms/inprocess/manual.py
  ethicml/algorithms/inprocess/mlp.py
  ethicml/algorithms/inprocess/oracle.py
  ethicml/algorithms/inprocess/shared.py
  ethicml/algorithms/inprocess/svm.py
  ethicml/algorithms/inprocess/zafar.py
  ethicml/algorithms/postprocess/dp_flip.py
  ethicml/algorithms/postprocess/hardt.py
  ethicml/algorithms/postprocess/post_algorithm.py
  ethicml/algorithms/preprocess/beutel.py
  ethicml/algorithms/preprocess/calders.py
  ethicml/algorithms/preprocess/interface.py
  ethicml/algorithms/preprocess/pre_algorithm.py
  ethicml/algorithms/preprocess/pre_subprocess.py
  ethicml/algorithms/preprocess/upsampler.py
  ethicml/algorithms/preprocess/vfae.py
  ethicml/algorithms/preprocess/zemel.py
  ethicml/evaluators/evaluate_models.py
  ethicml/implementations/agarwal.py
  ethicml/implementations/beutel.py
  ethicml/implementations/dro_tabular.py
  ethicml/implementations/utils.py
  ethicml/implementations/vfae.py
  ethicml/implementations/zemel.py
  ethicml/metrics/anti_spur.py
  tests/local_installed_lr.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/inprocess_test/omegaconf_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
  tests/models_test/preprocess_test/omegaconf_test.py
  tests/saving_data_test.py
Labels: next

#614 Move pydocstyle config into pyproject.toml
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: code-change, next

#618 Update poetry.lock
  ethicml/algorithms/preprocess/beutel.py
  poetry.lock
Labels: code-change

#622 Try to fix `evaluate_models()`
  ethicml/evaluators/evaluate_models.py
Labels: code-change

#624 Change default of `delete_prev` to `True`
  ethicml/evaluators/evaluate_models.py
  poetry.lock
  pyproject.toml
  tests/run_algorithm_test.py
  tests/visualisation_test.py
Labels: breaking, code-change

#625 closes #623.
  .pre-commit-config.yaml
  ethicml/algorithms/inprocess/zafar.py
  ethicml/evaluators/cross_validator.py
  ethicml/evaluators/evaluate_models.py
  ethicml/evaluators/parallelism.py
  ethicml/preprocessing/train_test_split.py
  run_mypy_tests.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/run_algorithm_test.py
Labels: code-change

#639 rename train_test_split.py file to splits.py
  ethicml/__init__.py
  ethicml/evaluators/cross_validator.py
  ethicml/implementations/beutel.py
  ethicml/preprocessing/__init__.py
  ethicml/preprocessing/biased_split.py
  ethicml/preprocessing/splits.py
Labels: code-change

#641 Add aliases for dataset splits within the dataset classes
  ethicml/data/tabular_data/admissions.py
  ethicml/data/tabular_data/adult.py
  ethicml/data/tabular_data/compas.py
  ethicml/data/tabular_data/credit.py
  ethicml/data/tabular_data/crime.py
  ethicml/data/tabular_data/german.py
  ethicml/data/tabular_data/health.py
  ethicml/data/tabular_data/law.py
  ethicml/data/tabular_data/sqf.py
  tests/data_omegaconf_test.py
  tests/loading_data_test.py
Labels: code-change

#645 Update fairlearn to 0.7.0
  ethicml/implementations/agarwal.py
  poetry.lock
  pyproject.toml
Labels: code-change

#649 Make model path absolute
  ethicml/algorithms/inprocess/in_subprocess.py
Labels: code-change

#650 Update OmegaConf and remove PyTorch from dependencies
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Labels: code-change

#652 Fix a few things that I noticed
  ethicml/algorithms/inprocess/in_subprocess.py
  ethicml/algorithms/preprocess/pre_subprocess.py
  ethicml/evaluators/cross_validator.py
  ethicml/evaluators/evaluate_models.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
  tests/run_algorithm_test.py
Labels: code-change

#653 issue 647
  ethicml/algorithms/inprocess/kamiran.py
  ethicml/algorithms/inprocess/logistic_regression.py
  ethicml/algorithms/inprocess/mlp.py
  ethicml/algorithms/preprocess/beutel.py
  ethicml/algorithms/preprocess/calders.py
  ethicml/algorithms/preprocess/upsampler.py
  ethicml/data/csvs/make_non_binary_toy.py
  ethicml/data/csvs/nbt.csv
  ethicml/data/dataset.py
  ethicml/data/tabular_data/non_binary_toy.py
  ethicml/implementations/beutel.py
  ethicml/implementations/dro_modules/dro_classifier.py
  ethicml/implementations/dro_modules/dro_loss.py
  ethicml/implementations/dro_tabular.py
  ethicml/implementations/pytorch_common.py
  ethicml/metrics/per_sensitive_attribute.py
  ethicml/metrics/prob_outcome.py
  ethicml/utility/data_structures.py
  tests/loading_data_test.py
  tests/metrics/nonparamaterized_metric_test.py
  tests/metrics/per_sens_test.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/inprocess_test/omegaconf_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
Labels: breaking, code-change

#658 Hgr method
  check_all.py
  docs/conf.py
  ethicml/algorithms/inprocess/agarwal_reductions.py
  ethicml/algorithms/inprocess/fairness_wo_demographics.py
  ethicml/algorithms/inprocess/hgr.py
  ethicml/algorithms/inprocess/in_algorithm.py
  ethicml/algorithms/inprocess/kamiran.py
  ethicml/algorithms/inprocess/zafar.py
  ethicml/data/dataset.py
  ethicml/data/util.py
  ethicml/evaluators/evaluate_models.py
  ethicml/implementations/agarwal.py
  ethicml/implementations/beutel.py
  ethicml/implementations/dro_tabular.py
  ethicml/implementations/hgr_method.py
  ethicml/implementations/hgr_modules/__init__.py
  ethicml/implementations/hgr_modules/density_estimation.py
  ethicml/implementations/hgr_modules/facl_hgr.py
  ethicml/implementations/hgr_modules/hgr_impl.py
  ethicml/implementations/hgr_modules/utility.py
  ethicml/implementations/pytorch_common.py
  ethicml/implementations/vfae_modules/categorical.py
  ethicml/implementations/vfae_modules/decoder.py
  ethicml/implementations/zemel.py
  ethicml/preprocessing/biased_split.py
  ethicml/preprocessing/splits.py
  ethicml/utility/data_structures.py
  tests/loading_data_test.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
Labels: code-change

#660 Fix a long-standing type error
  ethicml/algorithms/preprocess/pre_subprocess.py
  ethicml/implementations/beutel.py
Labels: code-change

#646 add FairDummies method
  ethicml/__init__.py
  ethicml/algorithms/algorithm_base.py
  ethicml/algorithms/inprocess/adv_debiasing.py
  ethicml/algorithms/inprocess/agarwal_reductions.py
  ethicml/algorithms/inprocess/fair_dummies.py
  ethicml/algorithms/inprocess/hgr.py
  ethicml/algorithms/inprocess/installed_model.py
  ethicml/algorithms/inprocess/kamiran.py
  ethicml/algorithms/inprocess/mlp.py
  ethicml/algorithms/inprocess/shared.py
  ethicml/algorithms/inprocess/zafar.py
  ethicml/data/csvs/make_law.py
  ethicml/data/csvs/make_nursery.py
  ethicml/data/csvs/nursery.csv.zip
  ethicml/data/csvs/raw/nursery_raw.csv
  ethicml/data/dataset.py
  ethicml/data/tabular_data/acs.py
  ethicml/data/tabular_data/nursery.py
  ethicml/data/util.py
  ethicml/implementations/adv_debiasing_method.py
  ethicml/implementations/adv_debiasing_modules/__init__.py
  ethicml/implementations/adv_debiasing_modules/model.py
  ethicml/implementations/agarwal.py
  ethicml/implementations/beutel.py
  ethicml/implementations/fair_dummies_modules/__init__.py
  ethicml/implementations/fair_dummies_modules/model.py
  ethicml/implementations/fair_dummies_modules/utility_functions.py
  ethicml/implementations/fair_dummies_romano.py
  ethicml/implementations/hgr_modules/facl/__init__.py
  ethicml/implementations/hgr_modules/facl/density_estimation.py
  ethicml/implementations/hgr_modules/facl/facl_hgr.py
  ethicml/implementations/hgr_modules/hgr_impl.py
  ethicml/implementations/hgr_modules/utility_functions.py
  ethicml/implementations/pytorch_common.py
  ethicml/implementations/vfae.py
  ethicml/implementations/zemel.py
  ethicml/preprocessing/domain_adaptation.py
  ethicml/preprocessing/feature_binning.py
  ethicml/utility/data_structures.py
  ethicml/visualisation/common.py
  tests/loading_data_test.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
Labels: code-change

#664 Don't let DataTuple inherit from TestTuple
  ethicml/__init__.py
  ethicml/algorithms/inprocess/fair_dummies.py
  ethicml/algorithms/inprocess/in_algorithm.py
  ethicml/algorithms/preprocess/calders.py
  ethicml/algorithms/preprocess/pre_algorithm.py
  ethicml/algorithms/preprocess/pre_subprocess.py
  ethicml/algorithms/preprocess/upsampler.py
  ethicml/data/dataset.py
  ethicml/evaluators/cross_validator.py
  ethicml/evaluators/evaluate_models.py
  ethicml/evaluators/parallelism.py
  ethicml/implementations/adv_debiasing_method.py
  ethicml/implementations/agarwal.py
  ethicml/implementations/beutel.py
  ethicml/implementations/dro_tabular.py
  ethicml/implementations/fair_dummies_romano.py
  ethicml/implementations/hgr_method.py
  ethicml/implementations/pytorch_common.py
  ethicml/implementations/utils.py
  ethicml/implementations/vfae.py
  ethicml/implementations/zemel.py
  ethicml/metrics/accuracy.py
  ethicml/metrics/anti_spur.py
  ethicml/metrics/average_odds.py
  ethicml/metrics/balanced_accuracy.py
  ethicml/metrics/bcr.py
  ethicml/metrics/confusion_matrix.py
  ethicml/metrics/cv.py
  ethicml/metrics/dependence_measures.py
  ethicml/metrics/fnr.py
  ethicml/metrics/fpr.py
  ethicml/metrics/hsic.py
  ethicml/metrics/metric.py
  ethicml/metrics/npv.py
  ethicml/metrics/per_sensitive_attribute.py
  ethicml/metrics/ppv.py
  ethicml/metrics/prob_neg.py
  ethicml/metrics/prob_outcome.py
  ethicml/metrics/prob_pos.py
  ethicml/metrics/theil.py
  ethicml/metrics/tnr.py
  ethicml/metrics/tpr.py
  ethicml/preprocessing/biased_split.py
  ethicml/preprocessing/scaling.py
  ethicml/preprocessing/splits.py
  ethicml/utility/data_structures.py
  ethicml/visualisation/plot.py
  tests/conftest.py
  tests/loading_data_test.py
  tests/metrics/metric_test.py
  tests/metrics/nonparamaterized_metric_test.py
  tests/models_test/inprocess_test/models_inprocessing_test.py
  tests/models_test/inprocess_test/zafar_test.py
  tests/models_test/postprocess_test/models_postprocessing_test.py
  tests/models_test/preprocess_test/models_preprocessing_test.py
  tests/run_algorithm_test.py
  tests/saving_data_test.py
  tests/visualisation_test.py
Labels: code-change

#669 Add an optional name argument to replace_data()
  ethicml/algorithms/preprocess/upsampler.py
  ethicml/implementations/beutel.py
  ethicml/implementations/vfae.py
  ethicml/preprocessing/splits.py
  ethicml/utility/data_structures.py
Labels: code-change
